<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.persistance.mapper.IStudentMapper">

    <!-- 학생 등록 쿼리 -->
    <!-- #{ } => preparedStatement 값 바인딩 : 알아서 'userId' 로 변환 -->
    <!-- ${ } 절대 쓰면 안됌 : 값 바인딩이 아니라 ' '를 포함해서 검색함 보안성 박살남 -->
    <insert id="insertStudent" parameterType="StudentDTO">
        INSERT INTO STUDENT
            (USER_ID, USER_NAME, EMAIL, ADDR)
        VALUES (#{userId}, #{userName}, #{email}, #{addr})
    </insert>

    <!-- 학생 전체 조회 쿼리 (여러 건 조회) -->
    <!-- select 타입만 result 존재! -->
    <select id="getStudentList" resultType="StudentDTO">
        SELECT USER_ID, USER_NAME, EMAIL, ADDR
        FROM STUDENT
        ORDER BY USER_NAME DESC
    </select>

    <!-- 학생이 존재하는지 체크 (학생 아이디이랑 같은 1개 출력) -->
    <select id="getStudent" parameterType="StudentDTO" resultType="StudentDTO">
        SELECT USER_ID, USER_NAME, EMAIL, ADDR
        FROM STUDENT
        WHERE USER_ID = #{userId}
    </select>

    <!-- 데이터 삭제-->
    <delete id="deleteStudent" parameterType="StudentDTO">
        DELETE FROM STUDENT WHERE USER_ID = #{userId}
    </delete>
</mapper>
